body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(98, 98, 98);
    padding: 0;
    margin: 0;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2em;
}
#error-msg{
    background-color: rgb(253, 255, 144);
    padding: 1em 1em;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.container >form{
    position: relative;
    width: 80%;
    padding: 0px 35px 40px 35px;
    margin-top: 80px;

    overflow: hidden;


}
h1{
    margin:5px 0 0 0;

}
h6{
    margin-top:5px ;
    margin-bottom:30px ;
}
.input-wrap{
    position: relative;
    margin-block: 6px 12px;
}
.input-wrap>input{

    width: calc(100% - 10px);
    height: 35px;
    padding-left: 10px;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid gray;
    background-color: rgba(248, 248, 248);
}

.form-content >label{
    padding-left: 5px;
}

.show-password{
    position: absolute;
    right: 5px;
    top: 12px;

}
.show-password:hover{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(164, 163, 163);
}

span,
a{
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    margin-right: 10px;
}
a{
    color: rgb(53, 50, 50);
    font-weight: 500;
}
a:hover{
    color: rgb(160, 160, 160);
}
button{
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top:25px;
    font-size: 16px;
    font-weight: 600;
    border: transparent;
    border-radius: 2px;
    color: white;
    background-color: rgb(59, 59, 59);
}
button:hover{
    background-color:rgb(72, 71, 71);
}

.circle1{
    display: none;
    position: absolute;
    left:-40px;
    top: -80px;
    width: 250px;
    background-color:rgba(150, 148, 148, 0.177);
    height: 250px;
    border-radius: 50%;
}
.circle2{
    display: none;
    position: absolute;
    left:-85px;
    top: -90px;
    width: 250px;
    background-color:rgba(105, 103, 103, 0.277);
    height: 250px;
    border-radius: 50%;
}

@media (min-width: 600px) {
    .container >form{
        padding-top: 15px;
        margin-top: 85px;
        max-width: 320px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.813)
    }
    #error-msg{
        max-width: 320px;
        padding-inline: 35px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.413)
    }
    .circle2,
    .circle1{
        display: block;
    }
  }

  /* 320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV */