{% include 'index.html' %}
{% load static %}

{% block head %}
    <style>
        .container{
            padding-inline:3em;
        }
        h6{
            color:gray;
        }
        button{
            background:rgb(35,110,160);
            color:white;

            border:transparent;
            border-radius:4px;
            padding-inline:1em;
            padding-block:.8em;
            font-weight:bold;

            cursor:pointer;
        }
    </style>
{% endblock head %}
{% block body %}
    <div class="container">
        <h1>Workout</h1>
        <h6>QUICK START</h6>
        <button>START AN EMPTY WORKOUT</button>
    </div>
{% endblock body %}