{% extends 'index.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}? {% now "d" %}">
    <h1>home</h1>
    <p id="is-login" style="display:none">{{request.user.is_authenticated}}</p>
    {% for exercise in exercises  %}
        <div>
            <h3>{{ exercise.name }}</h3>
            <img src="{{ exercise.image_url }}" alt="" srcset="" width="200",height="200">
            <h4>Instructions</h4>
            {% for i in exercise.exerciseinstruction_set.all %}
            <p>{{ i.step_number }} {{i.description}}</p>
            {% endfor %}
            
        </div>
    {% endfor %}
    <script>
        isLogin = document.querySelector('#is-login').innerText
        console.log(isLogin)
        if( isLogin == "False" ){
            setTimeout(function(){
                window.location.href = "{% url 'login' %}"
            },5000)
        }
    </script>
{% endblock body %}

