{% include 'index.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/profile.css' %}">
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="profile-title-wrap">
            <h3>Profile</h3>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" id='logout'><i class="fa fa-sign-out"></i>Logout</a>
            {% endif %}
        </div>
    </div>
{% endblock body %}

        {% comment %} {% if request.user.is_authenticated %}
        <a class="" href="#"><i class="fa fa-cog"></i>Settings</a>
        {% endif %} {% endcomment %}
