{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'authentication/css/registerStyles.css' %}">
    <script src="https://kit.fontawesome.com/162be52fef.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
        {% if error  %}
            <p id='error-msg' ><strong>{{ error }}!</strong></p>
        {% endif %}
        <form method="post" autocomplete="off" name="registerForm" onsubmit="return validateForm()">
          <div class="circle1"></div>
          <div class="circle2"></div>
            <h1>Create Account</h1>
            <h6>Sigh up!</h6>
            {% csrf_token %}
            <div class="form-content">
                <i class="fa fa-id-card" ></i>
                <label for="name">Full Name</label>
            </div>
            <div class="input-wrap">
                <input  type="text" name="name" required>
            </div>

            <div class="form-content">
                <i class="fa fa-user" ></i>
                <label for="username" >Username</label>
            </div>
            <div class="input-wrap">
              <input type="text" name="username" required>
            </div>

            <div class="form-content">
                <i class="fa fa-envelope" ></i>
                <label for="email">Email</label>
            </div>
            <div class="input-wrap">
                <input type="email" name="email" required>
            </div>

            <div class="form-content">
                <i class="fa fa-lock" ></i>
                <label for="password1">Password</label>
            </div>
            <div class="input-wrap">
              <input id="pass" type="password" name="password" required>
              <i data-id="pass" class= "fas fa-eye show-password"></i>
            </div>

            <div class="form-content">
                <i class="fa fa-lock" ></i>
                <label for="password2">Confirm Password</label>
                
            </div>
            <div class="input-wrap">
                <input id="conf-pass" type="password" name="password2" required>
                <i data-id="conf-pass" class= "fas fa-eye show-password"></i>
                <span style="display:none;color:#BE0000B9;font-size:14px;" id="pass-no-match">Password dosen't match</span>
            </div>

            <div>
              <span>Already have an account?</span><a href="{% url 'login' %}">Sign In</a>
            </div>
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
      </div>

      <script>
        const password1 = document.getElementById("pass")
        const password2 = document.getElementById("conf-pass")

        // function to check if both password are same
        function confirmPassword(){
          	if(password1.value == password2.value)
            	return true
          	else
            	return false
        }

        function setColor(bool){
          	if(bool){
            	colors = {
              		'background':"#00FF2F2A",
              		'border':"#006C00B9",
              		'display':"none"
           		}
          	}
          	else{
            	colors = {
            		'background':"#FF00002A",
              		'border':"#BE0000B9",
              		'display':"inline"
            	}
          	}
			const passDontMatch = document.getElementById("pass-no-match")
			passDontMatch.style.display = colors.display
			password1.style.backgroundColor = colors.background
			password1.style.borderColor =colors.border
			password2.style.backgroundColor = colors.background
			password2.style.borderColor = colors.border
        }
        // function to validaete form based on both passwords
        function validateForm(){
          	if(confirmPassword()){
            	return true
			}
          	else{	
				setColor(false)
				password2.addEventListener('input',function(){
					if(confirmPassword()){
						setColor(true)
					}
					else{
						setColor(false)
					}
				})		
				return false
			}
        }

        showBtn = document.querySelectorAll('.show-password')
        showBtn.forEach((btn) => {
          btn.addEventListener('click',function(){
            this.classList.toggle('fa-eye-slash');
            this.classList.toggle('fa-eye')
            id = this.getAttribute('data-id')
            passwordInputField = document.getElementById(id)
            if(passwordInputField.type == "password"){
              passwordInputField.type = 'text'
            }
            else{
              passwordInputField.type = "password"
            }
          })
        })
        window.onpageshow = function(e){
          if(e.persisted){
            location.reload(true)
          }
        }
      </script>
  </body>
</html>
