{% extends 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'exercises/css/aboutExercise.css' %}?{% now "D" %}">
{% endblock head %}

{% block body %}
    <nav>
        <div>ABOUT</div>
        <div>HISTORY</div>
        <div><a href="#records">Records</a></div>
    </nav>

    <div class="container">
        <div class="about">
            <div class="body-wrap">
                <h2 class="heading" >{{exercise}}</h2>
                <div class="content-wrap">
                    <div class="img-wrap">
                        <img src="{{exercise.image_url}}" alt="">
                    </div>
                    <div class="instructions">
                        <h4 class="heading">Instructions</h4>
                        {% for i in exercise.exerciseinstruction_set.all %}
                            <p><span>{{i.step_number}}</span>{{i.description}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}