html,body{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
.preloader{
 position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
width: 100%;
height: 100vh;
 background-color: rgb(213, 211, 255);
}


.loader1 {
    display:inline-block;
    font-size:0px;
    padding:0px;
    transition: all 1s ease-out;
 }
 .loader1 span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:30px;
    height:30px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
 }
 .loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(172, 172, 172, 0.6);
 }
 .loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(123, 123, 123, 0.8);
 }
 .loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:rgb(70, 70, 70);
 }
 .loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(137, 137, 137, 0.8);
   
 }
 .loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(200, 177, 179, 0.4);
 }
 
 @keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }
 
 #workout-in-progress{
   position: fixed;
   left: 0;
   right: 0;
   bottom:0;

   display: none;
   z-index: 1001;
   background-color: aliceblue;

   /* height: 2em; */
   padding-top:0;
   padding-bottom:1em;
   text-align: center;

   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.457);

 }
 #workout-in-progress-span{
  display: inline-block;
  background-color:#9696969c;
  width: 30px;
  height: 3px;
  border-radius: 3px;
 }
 #workout-in-progress >*{
   margin: 0;
 }
 #workout-in-progress-heading{
   font-size: 22px;
 }
 #timer-2{
   color: #696969;
 }


 @media only screen and (min-width:600px) {
   .loader1 span {
      width:50px;
      height:50px;
 
   }
 }