.exercise-container{
    padding: 1em 2em 5em 2em ;
}
.heading{
    font-size: 25px;
    color:rgb(71, 71, 71);
    margin: .5em 0;
    padding-left:10px ;
}
.heading-2{
    color:rgb(71, 71, 71);
}
#exercise-nav{
    display: flex;
    justify-content:space-between;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    align-items: last baseline;
    color: #5e5e5e;
    padding: 0;

    -webkit-box-shadow: 0px 2px 7px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 7px -7px rgba(0,0,0,1);
    box-shadow: 0px 2px 7px -7px rgba(0,0,0,1);
}
#exercise-nav :first-child{
    border-bottom-color: #5e5e5e;
}
#exercise-nav li{
    cursor: pointer;
    user-select: none;
    list-style: none;
    padding-left:10px ;
    padding-block:10px;
    width: 80px;

    border-bottom: transparent 2px solid;

    
}
#exercise-nav li:hover{
    background-color: rgb(234, 255, 234);
}
#exercise-nav li:active{
    background-color: rgba(199, 199, 199, 0.533);

}
#about{
    display: flex;
    justify-content: center;
    padding-inline:1em ;
    padding-block: .5em;
}
#about,
#history,
#records{
    display: none;
}
.selected-tab{
    display: block !important;
}
.img-wrap{
    display: flex;
    justify-content: center;
}
.img-wrap img{
    max-width: 550px;
    /* width: 500px; */
    max-height: 300px;
    transition: all ease-in .2s;
    
}
.content-wrap{
    transition: all ease-in .3s;
}

.step-number span{
    background:slategray;;
    color:white ;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number{
    position: relative;
    background-color: rgb(244, 240, 240);
    padding: 10px;
    padding-left: 3em;
    margin-block: 3px;
}


/* HISTORY */

.exercise-card{
    width: (100% -2em );
    border: 2px solid rgb(53, 52, 52);
    padding: .5em 1em 1em;
    border-radius: 4px;
    margin-bottom: 1em;
}
.exercise-card-title{
    margin-bottom: 0;
}
.exercise-card-date{
    margin-block: 2px 10px;
    font-size: 13px;
    color: rgba(74, 74, 75, 0.92);
    font-weight: 700;
}
.exercise-card-table{
    font-size: 14px;

}
.exercise-card-table th{
    padding-right: 4em;
    padding-bottom: 5px;
}
.exercise-card-table span{
    margin-right: 15px;
}
.not-performed{
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translateX(-50%) translateY(-50%);
}
.not-performed span{
    color: slategray;
    font-size: 13px;

}

@media only screen and (min-width:500px) {
    #exercise-nav{
        gap: 3em;
        justify-content:flex-start;
    }
}

@media only screen and (min-width:1000px) {
    .body-wrap img{
        width: 35vw;
        max-height: 450px;
    }
    .content-wrap{
        display: flex;
    }
    .step-number{
        margin-block: 1em;
        padding-block: 15px;
    }
    .heading{
        margin-block:.5em 0;
    }
    #exercise-nav{
        margin-bottom: 3em;
        font-size: 15px;
        gap: 5em;
        justify-content:flex-start;
    }
}
