{% include 'index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'workout/css/createTemplate.css' %}?3">
    <link rel="stylesheet" href="{% static 'workout/css/selectedExercise.css' %}">
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="title">
            <h1 class="head">New Workout template</h1>
            <button data-url="{% url 'new-template' %}"  id="save">SAVE</button>
        </div>
        <input id="template-name" type="text" placeholder="enter template name">
        <div class="selected-exercise">
            
        </div>
        <button id="addExercise">ADD EXERCISE</button>
    </div>
    <div class="select-exercise-wrap" data-url = "{% url 'new-template' %}">
        <span class="close-add-exercises"><i class="fas fa-x"></i></span>
        <h2>Add Exercises</h2>
        <div class="all-exercises">

        </div>
        <button class="exercise-select"><i class="fa fa-check"></i></button>
    </div>
    <script src="{% static 'workout/js/main.js' %}"></script>
    <script src="{% static 'workout/js/showExercises.js' %}"></script>
    <script src="{% static 'workout/js/saveTemplate.js' %}"></script>

{% endblock body %}