{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>ActiveTrack</title>
    <script src="https://kit.fontawesome.com/162be52fef.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock head %}
</head>
<body>
<div class="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
    {% include 'navbar.html' %}
    {% if  page != 'start_empty_workout' %}
    <div id='workout-in-progress'>
        <span id='workout-in-progress-span'></span>
        <h3 id='workout-in-progress-heading'>Workout</h3>
        <h5 id="timer-2"></h5>
    </div>
    {% endif %}
    {% block body %}

    {% endblock body %}

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>