{% load static %}
<link rel="stylesheet" href="{% static 'css/navStyle.css' %}">
<nav class="nav">
    <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i><span>Profile</span> </a>
    <a class="nav-link" href="{% url 'history' %}"><i class="fa-solid fa-clock-rotate-left"></i><span>History</span></a>
    <a class="nav-link" href="{% url 'workouts' %}"><i class="fa-solid fa-plus"></i><span>Workout</span></a>
    <a class="nav-link" href="{% url 'exercises' %}"><i class="fa-solid fa-dumbbell"></i><span>Exercices</span></a>
    <a class="nav-link" href="{% url 'measures' %}"><i class="fa-solid fa-ruler"></i><span>Measure</span></a>
</nav>


<script>
   // Get all the links with the 'nav-link-item' class
   var navLinks = document.querySelectorAll(".nav-link");

   // Add an event listener to each link to prevent the default action
   navLinks.forEach(function(link) {
        if (link.href === window.location.href) {
            link.style.color ='#FDFE99';
        }
       link.addEventListener("click", function(event) {
        if (link.href === window.location.href) {
            event.preventDefault();
        }
       });
   });
</script>